* {
    box-sizing: border-box;
    margin: 0%;
}

body {
    font-family: 'Otomanopee One', sans-serif;
}

h1 {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

#div-logo {
    text-align: center;
}

h2 {
    color: blue;
}

h3 {
    color: blue;
}

section {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
}

#titulo-pipa {
    color: blue;
}

img {
    width: 8%;
}
